.ratings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.rating {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.rating-pic {
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
    margin: 20px;
}

.rating-text {
    text-align: center;
    font-style: italic;
}